@model List<RegisterViewModel2>
@{
    ViewData["Title"] = "ข้อมูลโรงเรียนที่ทำการลงทะเบียน";
    int i=1;
    IList<ApplicationUser> users=ViewBag.users;
}
<div class="card">
 <div class="card-header">
        <h2 class="card-title">ข้อมูลโรงเรียนที่ทำการลงทะเบียน</h2>
    </div>
 <div>
    <form asp-controller="Admin" asp-action="frmlistregisterAll">
            <div class="card-body">
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <!-- SELECT2 EXAMPLE -->
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">เงื่อนไขการค้นหา</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">สังกัด</label>
                                    <div class="col-sm-10">
                                        @Html.DropDownList("c_id", (IEnumerable<SelectListItem>)ViewBag.levelData, "ทั้งหมด", new { @name = "", @class = "form-control select2", @style = "width: 100%;", @selected = (int)ViewBag.currentTypelevel })
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">ค้นหา</button>
                    <button type="submit" class="btn btn-default float-right">Cancel</button>
                </div>
                <!-- /.card-footer -->
            </div>
        </form>
 </div>
  <div class="card-body">
     <table id="example1" class="table table-bordered table-striped">
        <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        รหัส
                    </th>
                    <th>
                        ชื่อโรงเรียน
                    </th>
                    <th>
                        รายการแข่งขัน
                    </th>
                    <th>
                        นักเรียน
                    </th>
                    <th>
                        ครู
                    </th>
                    <th>รางวัล</th>
                    <th>อันดับ</th>
                </tr>
            </thead>
           <tbody>
        @if (Model != null && Model.Any())
        {
            //int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Id</td>
                    <td>@item.SchoolName</td>
                    <td>@item.CompetitionName</td>
                    <td style="vertical-align: top; text-align: left;">
                        @foreach (var student in item.Students)
                        {
                            @($"{student.No} {student.Prefix} {student.FirstName} {student.LastName}")<br />
                        }
                    </td>
                    <td style="vertical-align: top; text-align: left;">
                        @foreach (var teacher in item.Teachers)
                        {
                            @($"{teacher.No} {teacher.Prefix} {teacher.FirstName} {teacher.LastName}")<br />
                        }
                    </td>
                    <td align="center">@item.Award</td>
                    <td align="center">@item.Rank</td>
                </tr>
                i++;
            }
        }
    </tbody>
     </table>
  </div>
</div>
<link type="text/css" href="~/css/css/ui-lightness/jquery-ui-1.8.10.custom.css" rel="stylesheet" />
<script type="text/javascript" src="~/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="~/js/jquery-ui-1.8.10.offset.datepicker.min.js"></script>
<script src="~/plugins/jquery/jquery.min.js"></script>
<script>$(function () {
        $('.select2').select2()
         $("#example1").DataTable({
    "responsive": true,
    "lengthChange": false,
    "autoWidth": false,
    "ordering": true,
    "pageLength": 20,
    "orderMulti": true,
    "buttons": [
        {
            extend: 'excelHtml5',
            text: 'Export to Excel',
            customize: function (xlsx) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];
                // หาเซลล์ที่ต้องการปรับแต่ง
                $('row c[r]', sheet).attr('s', '55'); // กำหนดสไตล์หากต้องการ
                $('font', sheet).attr('name', 'TH Sarabun');
            },
            exportOptions: {
                columns: ':visible',
                format: {
                    body: function (data, row, column, node) {
                        // เปลี่ยน <br> กลับเป็น \n เพื่อให้ Excel แสดงผลบรรทัดใหม่
                        return data.replace(/<br\s*\/?>/g, '\n');
                    }
                }
            }
        },
        "copy", "csv", "print", "colvis"
    ]
}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });</script>